div {
  margin: auto;
  text-align: center;
  /* background-color: yellowgreen; */
}

/* Sayt qismi style */

/* .sayt
{
  max-width: 5300px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  border: 10px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 300px;
} */


/* 2-qismi style */


.navhed
{
  width: 100%;
  height: 600px;
    background: url(./rasm2.webp) no-repeat center / cover;

}
.navbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.548));
    color: white;
  border-bottom: 2px solid white;
}
img
{
  width: 120px;
  height: 100px;
}
.navbarr {
  width: 50%;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
}
.navbarrr {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar ul {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  font-size: 13px;
  list-style: none;
}

.navbarrr ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.navbarrr ul li a {
  color: white;

  text-decoration: none;
}

.navbarrr ul li .a {
  color: white;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
}

.navbarrr ul li .a .a1 {
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
}

/* navbar */

.header {
  height: 500px;
    background: linear-gradient(to top ,gray,rgba(0, 0, 0, 0.582));
  color: white;
  /* margin-top: -22px; */
  /* z-index: -1; */
}



.header h1 {
font-size: 90px;
font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.header h3 {
font-size: 25px;
  color: white;
}
.header1
{
  width: 100%;
  height: 250px;
display: flex;
  justify-content: center;
  align-items: end;
}
.header2
{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}
/* header */

.navbar2 {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 600px;
  left: 425px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar2 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  border: none;
}

.navbar2 ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  color: black;
}

.navbar2 ul li a:focus {
  border-bottom: 2px solid red;
}

/* navbar2 */
